<form action="/new" method="post">
    <label for="user">User name:</label>
    <input type="text" name="user" id="user"><br>
    <textarea name="message" id="message" cols="30" rows="10" placeholder="Type message ..."></textarea>
    <br><button>submit</button>
</form>